.card-box {
    display: flex;
    align-items: flex-end;
    background-position: center;
    width: 200px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

}

.title-box {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}