header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    color: #ffffff;
    height: 144px;
    margin-bottom: 3.2rem;
    padding: 0 4%px;
}

.logo {
    width: 180px;
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        margin: 2rem 0;
        height: auto;
    }
}

@media (max-width: 540px) {
    .logo {
        margin: 3rem 0;
        
    }
}