footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: 250px;
    color: #ffffff;
    margin-top: 8rem;
    padding: 0 4%;
}

.footer-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 80%;
    padding-right: 2rem;
    border-right: 1px solid grey;
}

.footer-left img {
    width: 120px;
    cursor: pointer;
}

.footer-left p {
    width: 100%
}

.footer-right {
    width: 70%;
    padding-left: 2rem;
}

.footer-right p {
    width: 100%;
}